body {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 80%;
}

html, body, img, h1, iframe, canvas, svg, vml {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

.container {
	padding:3em;
	width: auto;
}

ul#prebuilt {
	padding-left:0;
	list-style:none;
}
ul#prebuilt li a {
	font-size: 1.5em;
	text-decoration: none;
	padding: 0.5em;
}
ul#prebuilt li a:hover {
	background-color: #eee;
}

ul#prebuilt li .sets {
	font-size:0.5em;
	max-width: 30em;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.test-results {
	display: block;
}

	.test-results .pending, .test-results .loading, .test-results .failed, .test-results .passed {
		display: block;
		margin: 5px;
		padding: 5px;
		background: #EEE;
	}

		.test-results .failed {
			background: #FCC;
		}
	
		.test-results .header {
			display: block;
			background: #EEE;
			color: #999;
			padding: 5px;
			text-decoration: none;
		}

			.test-results .loading .header {
				background: #EEE;
				color: #000;
			}
			.test-results .passed .header {
				background: #3C3;
				color: #FFF;
			}
			.test-results .failed .header {
				background: #C33;
				color: #FFF;
			}

		.test-results .test, .test-results .key {
			display: inline-block;
			vertical-align: top;
			border: 10px solid #CCC;
			background: #FFF;
			margin: 1px;
		}
		
		.test-results .test {
			margin-left: 0;
		}

		.test-results .error {
			margin: 1px;
		}
		
		.test-results .test span, .test-results .key span {
			display: block;
			background: #CCC;
			color: #000;
		}

		.test-results .secondaryKey {
			display: none;
		}
		.test-results .key:hover .primaryKey {
			display: none;
		}
		.test-results .key:hover .secondaryKey {
			display: block;
		}

		.test-results .test .secondaryResult {
			display: none;
		}
		.test-results .test:hover .primaryResult {
			display: none;
		}
		.test-results .test:hover .secondaryResult {
			display: block;
		}
